<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="com.tersesystems.blacklite.log4j2">
  <appenders>
    <Blacklite name="Blacklite" file="/${sys:java.io.tmpdir}/blacklite-log4j2/live.db">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>

      <!--      <NoOpArchiver/>-->

      <DeletingArchiver archiveAfterRows="100">
        <RowBasedTriggeringPolicy>
          <maximumNumRows>100</maximumNumRows>
        </RowBasedTriggeringPolicy>
      </DeletingArchiver>

    </Blacklite>
  </appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="Blacklite"/>
    </Root>
  </Loggers>
</Configuration>
