<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="com.tersesystems.blacklite.log4j2">
    <appenders>
        <Blacklite name="Blacklite">
            <url>jdbc:sqlite:/${sys:java.io.tmpdir}/blacklite/log4j.db</url>

            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>

            <Archiver file="${sys:java.io.tmpdir}/blacklite/archive.db">
                <FixedWindowRollingStrategy filePattern="${sys:java.io.tmpdir}/blacklite/archive-%i.db"/>
                <ArchiveRowsTriggeringPolicy/>
            </Archiver>
        </Blacklite>

        <Async name="AsyncBlacklite">
            <AppenderRef ref="Blacklite"/>
            <!-- Use MPSCArrayQueue -->
            <JCToolsBlockingQueue/>
        </Async>
    </appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Blacklite"/>
        </Root>
    </Loggers>
</Configuration>