<configuration debug="true">

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook">
        <delay>1000</delay>
    </shutdownHook>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{H:mm:ss.SSS} [%-5level] %logger{15} - %message%ex%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/blacklite/entries.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <appender name="BLACKLITE" class="com.tersesystems.blacklite.logback.BlackliteAppender">
        <file>/tmp/blacklite-logback/live.db</file>
        <batchInsertSize>1000</batchInsertSize>

        <archiver class="com.tersesystems.blacklite.archive.RollingArchiver">
            <file>/tmp/blacklite-logback/archive.db</file>
            <archiveAfterRows>10000</archiveAfterRows>

            <codec class="com.tersesystems.blacklite.codec.zstd.ZStdDictCodec">
                <level>9</level>
                <repository class="com.tersesystems.blacklite.codec.zstd.ZstdDictFileRepository">
                    <file>/tmp/blacklite-logback/dictionary</file>
                </repository>
            </codec>

            <rollingStrategy class="com.tersesystems.blacklite.logback.TimeBasedRollingStrategy">
                <fileNamePattern>/tmp/blacklite-logback/archive.%d{yyyy-MM-dd}.db</fileNamePattern>
                <maxHistory>20</maxHistory>
            </rollingStrategy>

            <triggeringPolicy class="com.tersesystems.blacklite.archive.RowBasedTriggeringPolicy">
                <maximumNumRows>500000</maximumNumRows>
            </triggeringPolicy>
        </archiver>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="BLACKLITE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
